.postContainer {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 380px;
  background-color: #ffffff;
  justify-content: center;
  border: 0.5px solid rgb(230, 217, 243);
  margin: 16px;
  border-radius: 5px;
  padding: 5px;
}
.ui_team_comments_container {
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.title {
  width: 153px;
  height: 160px;
  font-family: HKGrotesk;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;

  letter-spacing: normal;
  color: var(--dark-blue-grey);
  padding: 5px;
}
.para {
  color: black;
  font-family: 'Roboto';
  font-size: 12px;
  padding-top: 10px;
}
.uidiscuss {
  color: blue;
  padding: 5px;
  border-radius: 2px;
  background-color: rgba(11, 105, 255, 0.1);
}
.teamUi {
  color: green;
  font-family: 'Roboto';
  background-color: rgba(11, 105, 255, 0.1);
  padding: 5px;
  display: flex;

  justify-content: center;
  align-items: center;
}
.nameStyle {
  border-radius: 50%;
  background-color: bisque;
  width: 40px;
  height: 40px;
  text-align: center;
}

.image_approve_container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 5px;
}
.imageStyle {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.image_name {
  display: flex;
  flex-direction: row;
}
.username {
  color: rgb(12, 4, 4);
  font-size: 8px;
  text-align: center;
  font-family: 'Roboto';
}
.approveButton {
  background-color: rgb(0, 102, 255);
  color: #ffffff;
  font-family: 'Roboto';
  border-radius: 8px;
  width: 100px;
  height: 30px;
  border: none;
  cursor: pointer;
}

.commentsCount {
  padding-top: 20px;
}
